# OPENAI_API_KEY='your paid api key'
# OPENAI_BASE_URL='base url of the llm provider'
# MODEL='model being consumed'

# for demo purposes llama3.2 open source model is used here
OPENAI_API_KEY='ollama'
OPENAI_BASE_URL='http://localhost:11434/v1'
MODEL='llama3.2'
